@import 'partials/reset';
@import 'partials/clearfix';
/* Variables */
$color-heading: #111;
$color-text: #444;
$color-gradient-start: #efefff;
$color-lightest: #fff;
$font-family: sans-serif;


.chart {
  rect {
    fill: steelblue;
  }

  text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;
  }
}