@import 'partials/reset';
@import 'partials/clearfix';
/* Variables */
$color-heading: #111;
$color-text: #444;
$color-gradient-start: #efefff;
$color-lightest: #fff;
$font-family: sans-serif;

svg {
  circle {
    fill: steelblue;
  }
}